.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.leftAlign{
    text-align: left;
}
.centerAlign{
    text-align: center;
}
.rightAlign{
    text-align: right;
}
.justifyAlign{
    text-align: justify;
}